{% extends 'core/base.html' %}
{% block bode_title %}
Listado de Fichas Pacientes
{% endblock bode_title %}

{% block content %}

{% if object_list %}
    <h1 class="my-3">Fichas Pacientes</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="columna-ficha">Número de Ficha</th>
            <th scope="col">Mascota</th>
            <th scope="col">Dueño</th>
            <th scope="col">Especie</th>
            <th scope="col">Sexo</th>
            <th scope="col">Raza</th>
            <th scope="col">Edad</th>
            <th scope="col">Observacion</th>
          </tr>
        </thead>
        <tbody>
          {% for ficha in object_list %}
          <tr>
            <td>{{ ficha.numero_ficha }}</td>
            <td>{{ ficha.mascota }}</td>
            <td>{{ ficha.dueño }}</td>
            <td>{{ ficha.especie }}</td>
            <td>{{ ficha.sexo_mascota }}</td>
            <td>{{ ficha.raza_mascota }}</td>
            <td>{{ ficha.edad_mascota }}</td>
            <td>{{ ficha.consulta }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  {% endif %}

{% endblock content %}
