{% extends 'core/base.html' %}
{% block bode_title %}
<div class="container text-start mb-3">
    Información Pacientes
</div>
{% endblock bode_title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="card mb-3">
                    <div class="card-header bg-dark text-white font-weight-bold card-header-custom">
                        N° de Ficha: {{ ficha.numero_ficha }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title border-bottom mb-3">Datos Paciente</h5>
                        <table class="table table-bordered table-sm">
                            <tbody>
                                <tr>
                                    <th scope="row">Fecha:</th>
                                    <td>{{ ficha.fecha|date:"d-m-Y" }}</td>
                                </tr>
                                <tr>
                                <tr>
                                    <th scope="row">Nombre:</th>
                                    <td>{{ ficha.mascota }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Edad:</th>
                                    <td>{{ ficha.edad_mascota }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Dueño:</th>
                                    <td>{{ ficha.dueño }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Especie:</th>
                                    <td>{{ ficha.especie }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Sexo:</th>
                                    <td>{{ ficha.sexo_mascota }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Raza:</th>
                                    <td>{{ ficha.raza_mascota }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Observación:</th>
                                    <td>{{ ficha.consulta }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'tienda:modificacion' pk=ficha.pk %}" class="btn btn-dark btn-sm text-white me-2">Modificar</a>
                            <a href="{% url 'tienda:eliminar' pk=ficha.pk %}" class="btn btn-dark btn-sm text-white me-2">Eliminar</a>
                            <a href="{% url 'tienda:lista' %}" class="btn btn-dark btn-sm text-white">Volver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

