{% extends 'core/base.html' %}
{% block bode_title %}
Listado de Fichas Pacientes
{% endblock bode_title %}
{% block content %}
<figure>
  <blockquote class="blockquote">
    <p>Fichas ingresadas de pacientes</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Buscar ficha por nombre de <cite title="Source Title">mascota o dueño</cite>
  </figcaption>
</figure>

<div class="container row">
    <form method="get" action="" class="form-inline mb-3 d-flex">
        <input type="text" name="busqueda" class="form-control mr-2" style="width: 300px;" placeholder="Buscar fichas" value="{{ request.GET.busqueda }}">
        <button class="ms-2 btn btn-dark btn-sm text-white" type="submit">Buscar</button>
    </form>
</div>

{% if object_list %}
    <table class="table table-responsive text-center">
        <thead class="thead-dark">
            <tr class="table table-dark">
                <th scope="col" class="columna-ficha">Fecha Ficha</th>
                <th scope="col">N° de Ficha</th>
                <th scope="col">Mascota</th>
                <th scope="col">Dueño</th>
                <th scope="col">Especie</th>
                <th scope="col">Acciones</th>
                <th scope="col">Acciones</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ficha in object_list %}
            <tr>
                <td>{{ ficha.fecha|date:"d-m-Y" }}</td>
                <td>{{ ficha.numero_ficha }}</td>
                <td>{{ ficha.mascota }}</td>
                <td>{{ ficha.dueño }}</td>
                <td>{{ ficha.especie }}</td>
                <td><a href="{% url 'tienda:detalle' pk=ficha.pk %}" class="btn btn-dark btn-sm text-white">Ver</a></td>
                <td><a href="{% url 'tienda:modificacion' pk=ficha.pk %}" class="btn btn-dark btn-sm text-white">Modificar</a></td>
                <td><a href="{% url 'tienda:eliminar' pk=ficha.pk %}" class="btn btn-dark btn-sm text-white">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No se encontraron fichas que coincidan con la búsqueda.</p>
{% endif %}

{% endblock content %}
