{% extends 'core/base.html' %}

{% block title %}
    Ficha Paciente
{% endblock title %}

{% block bode_title %}
    Ficha Paciente
{% endblock bode_title %}

{% block content %}

{% if fichas %}
    <h1 class="my-4">Ficha Paciente</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Ficha</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Número de Ficha</th>
                <th scope="col">Mascota</th>
                <th scope="col">Dueño</th>
                <th scope="col">Especie</th>
            </tr>
        </thead>
        <tbody>
            {% for ficha in fichas %}
                <tr>
                    <td>{{ ficha.numero_ficha }}</td>
                    <td>{{ ficha.mascota }}</td>
                    <td>{{ ficha.dueño }}</td>
                    <td>{{ ficha.especie }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endif %}

{% endblock content %}
