{% extends 'core/base.html' %}

{% block title %}
    Ficha Paciente
{% endblock title %}

{% block bode_title %}
    Ficha Paciente
{% endblock bode_title %}

{% block content %}
<form action="{% url 'tienda:index' %}" method="get">
    <input type="text" name="q" placeholder="Buscar...">
    <button type="submit">Buscar</button>
</form>
{% if fichas %}
    {% for ficha in fichas %}
        <h2>{{ ficha.numero_ficha }}</h2>
        <h1>{{ ficha.mascota }} {{ ficha.dueño }} {{ ficha.especie }}</h1>
    {% endfor %}
{% endif %}
{% if not fichas and request.GET.q %}
    <p>No se encontraron fichas con ese nombre de mascota.</p>
{% endif %}
{% endblock content %}
