{% extends 'core/base.html' %}

{% block title %}  
Proyecto Final - Curso Python 54140
{% endblock title %}

{% block content %}  
<body>
  
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" 
                     src="static/core/assets/img/Logo.jpg" 
                     alt="..." 
                     width="900" 
                     height="400" />
            </div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Gestiona Fácilmente la Salud de tus Mascotas con Nuestra Plataforma</h1>
                <p>Nuestra página web ofrece una solución completa para gestionar las fichas médicas de tus pacientes de manera eficiente. Con nuestra plataforma, tendrás acceso rápido y seguro a toda la información de salud de tus pacientes, lo que te permite tomar decisiones informadas y garantizar su bienestar. Simplifica la administración de las fichas desalud de tus pacientes peludos y proporciona un cuidado excepcional con nuestra herramienta de gestión de fichas médicas veterinarias. ¡Únete ahora y mejora la calidad de vida de tus mascotas!</p>
                <a class="ms-2 btn btn-dark btn-sm text-white" href="{% url 'core:contacto' %}">Contactanos</a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">Optimiza el Cuidado de tus Mascotas con Nuestro Sistema de Fichas Médicas Veterinarias.</p>
            </div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-6 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Ingreso de Ficha</h2>
                        <p class="card-text">Ingreso de fichas de clientes: registra de manera eficiente los detalles médicos de cada paciente, garantizando un seguimiento adecuado de su historial de salud y cuidado.</p>
                    </div>
                    <div class="card-footer d-flex">
                        {% if user.is_authenticated %}
                        <a class="ms-2 btn btn-dark btn-sm text-white" href="{% url 'tienda:ingreso' %}">Ingresar</a>
                        {% else %}
                        <p class="h5">Debes logearte para ingresar</p>
                        <a class="ms-2 col-3 btn btn-dark btn-sm text-white" href="{% url 'veterinario:login' %}">Login</a>  
                        {% endif %}                      
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Listado de Fichas</h2>
                        <p class="card-text">Listado de fichas de pacientes: muestra todas las fichas ingresadas hasta el momento, proporcionando una visión general de los registros médicos disponibles para cada paciente.</p>
                    </div>
                    <div class="card-footer d-flex">
                        {% if user.is_authenticated %}
                        <a class="ms-2 btn btn-dark btn-sm text-white" href="{% url 'tienda:lista' %}">Ingresar</a>
                        {% else %}
                        <p class="h5">Debes logearte para ingresar</p>
                        <a class="ms-2 col-3 btn btn-dark btn-sm text-white" href="{% url 'veterinario:login' %}">Login</a>  
                        {% endif %}                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
