{% extends 'core/base.html' %}

{% block title %}
{% endblock title %}

{% block body_title %}
{% endblock body_title %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Registrar Nuevo Veterinario</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <input type="hidden" name="next" value="{% url 'core:index' %}">
            <button type="submit" class="btn btn-custom">Registrarse</button>
            <a href="{% url 'core:index' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    <style>
        .btn-custom {
            background-color: #343a40;
            color: #ffffff;
            border: none;
        }
        .btn-custom:hover {
            background-color: #23272b;
        }
    </style>
{% endblock content %}
